input, button {
    /* border: solid .5px rgb(200, 200, 200); */
    border: solid .5px #555B6E;
    border-radius: 2px;
}
input, button {
    display: inline-block;
    height: 40px;
}
input {
    margin: 0 5px 0 2px;
    width: 400px;
    padding-left: 8px;
}

button {
    /* font-size: 12pt; */
    height: 43px;
    width: 70px;
}

article {
    margin: 40px 0 10px 0;
    padding: 15px;
    /* box-shadow: -3px 2px 4px 0px #f0f0f0; */
}
article> p:first-of-type {
    font-weight: bold;
    font-size: 22pt;
}

img {
    width: 200px;
    border-radius: 10pt;
}

label {
    display: block;
}