.hero {
    padding: 10px;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    flex-direction: row;
    width: 100%;
}

img {
    height: 150px;
}

.content>h2 {
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 30px;
}

input {
    padding: 5pt;
    border-radius: 2pt;
    border: solid 0.02rem grey;
    display: block;
    width: 90%;
    height: 30px;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #2e1d37;
}

button {
    border-radius: 2pt;
    border: solid 0.02rem #001219;
    background: #001219;
    color: white;
    padding: 5pt;
}

li {
    margin: 10px;
    padding: 20px;
    font-size: 12pt;
    border-radius: 2px;
    border: solid .02rem #001219;
    width: 50%;
}

li>p:nth-of-type(2) {
    font-size: 10pt;
}