<section class="hero">
    <div class="content">
        <h2>Transitional housing can be hard, we're here to help.</h2>
        <div>
            <label for="city">Search by City: </label>
            <!-- how can we search? -->
            <input type="text" id="city" [(ngModel)]="city">
            <!-- what should happen when this button is clicked?-->
            <button (click)="searchHousing()">Search</button>
        </div>
    </div>
    <div>
        <img src="../../assets/undraw_coming_home_-52-ir.svg">
    </div>
</section>
<!-- If there are search results, we'll display them here -->
<section class="search-results">
    <ul>
        <li *ngFor="let location of searchResults">
            <p>{{ location.name }}, {{location.city}}</p>
            <p class="description">{{ location.description}}</p>
        </li>
    </ul>
</section>